@model Pink_Panthers_Project.Models.Class

@{
    ViewData["Title"] = "Edit Class";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditClass" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewData.ModelState.ContainsKey("NoDaysSelected"))
            {
                <em>Select at least one day</em>
                <br />
                <br />
            }
            @Html.HiddenFor(c => c.color)
            <div class="form-group">
                <label asp-for="Room" class="control-label"></label>
                <input asp-for="Room" class="form-control" />
                <span asp-validation-for="Room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentCode" class="control-label">Department Code</label>
                <select asp-for="DepartmentCode" class="form-control" readonly data-editable="false">
                    <option value="ACTG">ACTG</option>
                    <option value="AERO">AERO</option>
                    <option value="ANTH">ANTH</option>
                    <option value="ARCH">ARCH</option>
                    <option value="ART">ART</option>
                    <option value="ARTH">ARTH</option>
                    <option value="ASL">ASL</option>
                    <option value="ASTR">ASTR</option>
                    <option value="ATHL">ATHL</option>
                    <option value="ATTC">ATTC</option>
                    <option value="AUSV">AUSV</option>
                    <option value="BIS">BIS</option>
                    <option value="BME">BME</option>
                    <option value="BSAD">BSAD</option>
                    <option value="BTNY">BTNY</option>
                    <option value="CHEM">CHEM</option>
                    <option value="CHF">CHF</option>
                    <option value="CHNS">CHNS</option>
                    <option value="CJ">CJ</option>
                    <option value="CM">CM</option>
                    <option value="COMM">COMM</option>
                    <option value="CS">CS</option>
                    <option value="DANC">DANC</option>
                    <option value="DENT">DENT</option>
                    <option value="DMS">DMS</option>
                    <option value="ECE">ECE</option>
                    <option value="ECED">ECED</option>
                    <option value="ECON">ECON</option>
                    <option value="EDUC">EDUC</option>
                    <option value="EEN">EEN</option>
                    <option value="EET">EET</option>
                    <option value="ENGL">ENGL</option>
                    <option value="ENGR">ENGR</option>
                    <option value="ENTR">ENTR</option>
                    <option value="ENVS">ENVS</option>
                    <option value="ESS">ESS</option>
                    <option value="ETC">ETC</option>
                    <option value="ETM">ETM</option>
                    <option value="FAM">FAM</option>
                    <option value="FILM">FILM</option>
                    <option value="FIN">FIN</option>
                    <option value="FL">FL</option>
                    <option value="FRCH">FRCH</option>
                    <option value="FYE">FYE</option>
                    <option value="GEO">GEO</option>
                    <option value="GEOG">GEOG</option>
                    <option value="GERT">GERT</option>
                    <option value="GRMN">GRMN</option>
                    <option value="GSE">GSE</option>
                    <option value="HAS">HAS</option>
                    <option value="HIM">HIM</option>
                    <option value="HIST">HIST</option>
                    <option value="HLTH">HLTH</option>
                    <option value="HNRS">HNRS</option>
                    <option value="HTHS">HTHS</option>
                    <option value="HUMA">HUMA</option>
                    <option value="IDT">IDT</option>
                    <option value="ITLN">ITLN</option>
                    <option value="JPNS">JPNS</option>
                    <option value="KOR">KOR</option>
                    <option value="LIBS">LIBS</option>
                    <option value="LING">LING</option>
                    <option value="MACC">MACC</option>
                    <option value="MATH">MATH</option>
                    <option value="MBA">MBA</option>
                    <option value="MCJ">MCJ</option>
                    <option value="ME">ME</option>
                    <option value="MENG">MENG</option>
                    <option value="MET">MET</option>
                    <option value="MFET">MFET</option>
                    <option value="MGMT">MGMT</option>
                    <option value="MHA">MHA</option>
                    <option value="MICR">MICR</option>
                    <option value="MILS">MILS</option>
                    <option value="MIS">MIS</option>
                    <option value="MKTG">MKTG</option>
                    <option value="MLS">MLS</option>
                    <option value="MPAS">MPAS</option>
                    <option value="MPC">MPC</option>
                    <option value="MSAT">MSAT</option>
                    <option value="MSE">MSE</option>
                    <option value="MSRS">MSRS</option>
                    <option value="MSRT">MSRT</option>
                    <option value="MSW">MSW</option>
                    <option value="MTAX">MTAX</option>
                    <option value="MTHE">MTHE</option>
                    <option value="MUSC">MUSC</option>
                    <option value="NAVS">NAVS</option>
                    <option value="NET">NET</option>
                    <option value="NEUR">NEUR</option>
                    <option value="NRSG">NRSG</option>
                    <option value="NUCM">NUCM</option>
                    <option value="NUTR">NUTR</option>
                    <option value="OCRE">OCRE</option>
                    <option value="OEHS">OEHS</option>
                    <option value="PAR">PAR</option>
                    <option value="PDD">PDD</option>
                    <option value="PE">PE</option>
                    <option value="PEP">PEP</option>
                    <option value="PHIL">PHIL</option>
                    <option value="PHYS">PHYS</option>
                    <option value="POLS">POLS</option>
                    <option value="PS">PS</option>
                    <option value="PSY">PSY</option>
                    <option value="PTGS">PTGS</option>
                    <option value="PUBH">PUBH</option>
                    <option value="QS">QS</option>
                    <option value="QUAN">QUAN</option>
                    <option value="RADT">RADT</option>
                    <option value="RATH">RATH</option>
                    <option value="REC">REC</option>
                    <option value="REST">REST</option>
                    <option value="RGAF">RGAF</option>
                    <option value="RHS">RHS</option>
                    <option value="SBS">SBS</option>
                    <option value="SCM">SCM</option>
                    <option value="SE">SE</option>
                    <option value="SOC">SOC</option>
                    <option value="SPAN">SPAN</option>
                    <option value="SW">SW</option>
                    <option value="THEA">THEA</option>
                    <option value="UNIV">UNIV</option>
                    <option value="WEB">WEB</option>
                    <option value="WGS">WGS</option>
                    <option value="WSU">WSU</option>
                    <option value="ZOOL">ZOOL</option>
                </select>
                <span asp-validation-for="DepartmentCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseNumber" class="control-label">Course Number</label>
                <input asp-for="CourseNumber" class="form-control" readonly data-editable="false" />
                <span asp-validation-for="CourseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label">Course Name</label>
                <input asp-for="CourseName" class="form-control" readonly data-editable="false" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" >Monday&emsp;</label>
                <label class="control-label">Tuesday&emsp;</label>
                <label class="control-label">Wednesday&emsp;</label>
                <label class="control-label">Thursday&emsp;</label>
                <label class="control-label">Friday</label>
                <br />
                <div>
                    <pre>
   @Html.CheckBoxFor(m => m.monday)         @Html.CheckBoxFor(m => m.tuesday)          @Html.CheckBoxFor(m => m.wednesday)          @Html.CheckBoxFor(m => m.thursday)        @Html.CheckBoxFor(m => m.friday)</pre>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label">Start Time</label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label">End Time</label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hours" class="control-label">Credit Hours</label>
                <select asp-for="hours" class="form-control" readonly data-editable="false">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
