@model Pink_Panthers_Project.Models.ViewModel

@{
	ViewData["Title"] = "Course";
}

<head>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function () {
			
		var gradesArray = @Html.Raw(Json.Serialize(Model!.Grades));
		var max = @Model.MaxGrade;

		var data = [{
		type: 'box',
		x: gradesArray,
		boxpoints: 'false', 
		jitter: 0.3,     // Add some jitter for better visualization
		fillcolor: '#d5a6bd',
		line: {
			color: '#a64d79'
		},
		hoverinfo: 'x'
		}];

			var layout = {
				title: 'Student Performance',
				xaxis: {
					title: 'Grades',
					range: [0, max]
				}
			};  
		
		Plotly.newPlot('gradeBoxPlot', data, layout);});
	</script>


</head>
<div class="container">
	
		<div class="row mt-5">
        
		@if (Model!.Account!.isTeacher)
        {
			<h2>@Model.AssignmentName</h2>
			@if (Model!.StudentSubmissions!.Count == 0)
			{
				<p>No Submissions yet for this assignment</p>
			}
			<table>
				<tr>
					<th>Student</th>
					<th>Submission</th>
					<th>Grade</th>
				</tr>
				@foreach (var submission in Model.StudentSubmissions!)
				{
					<tr>
						<td>@Html.Raw(submission.studentAccount!.FirstName + " " + submission.studentAccount!.LastName)</td>
						<td>
							@if (submission.currentAssignment!.SubmissionType == "text")
							{
								@submission.Submission
							}
							else
							{
								<a href="~/Submissions/@submission.Submission" download="@submission.Submission">@submission.Submission</a>
							}
						</td>
						<td>@submission.Grade.ToString()/@submission.currentAssignment!.PossiblePoints</td>
						<td><a class="btn btn-primary" asp-action="GradeAssignment" asp-route-id="@submission.ID">Grade</a></td>
					</tr>
				}
			</table>
			}
		</div>
	
	@if (Model!.StudentSubmissions!.Count != 0)
	{
		<h2>@Model.AssignmentName</h2>
		@foreach (var submission in Model.StudentSubmissions!)
		{
			@if(Model.Account.ID == submission.AccountID)
			{
				<p>@submission.Grade.ToString()/@submission.currentAssignment!.PossiblePoints</p>
			}
		}
		<div class="row mt-3">
			<div id="gradeBoxPlot" />
		</div>
	}
	

	
</div>