@model Pink_Panthers_Project.Models.ViewModel

@{
    ViewData["Title"] = "Calendar";
}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: [
        @if (Model.Account.isTeacher)
        {
            @foreach (var course in Model.TeachingCourses)
            {

                var color = course.color;
                var textColor = "white";


                @if (color.Contains(';'))
                {
                    var parts = color.Split(';');
                    color = parts[0].Trim();

                    if (parts.Length > 1)
                    {
                        if (parts[1].Contains(":"))
                        {
                            var textPart = parts[1].Split(":");
                            textColor = textPart[1];
                        }
                    }
                }

                var startDate = new DateTime(2023, 8, 15);
                startDate.AddHours(course.StartTime.Hour);
                startDate.AddMinutes(course.StartTime.Minute);
                var endDate = new DateTime(2023, 12, 15);
                string days = @course.Days;
                while (days.Length != 0)
                {
                    if (days.StartsWith("M"))
                    {
                        if (days.Length == 1)
                        {
                            days = "";
                        }
                        else
                            days = days.Substring(2);
                        startDate = new DateTime(2023, 8, 21);

                    }
                    else if (days.StartsWith("Th"))
                    {
                        if (days.Length == 2)
                        {
                            days = "";
                        }
                        else
                            days = days.Substring(3);
                        startDate = new DateTime(2023, 8, 17);
                    }
                    else if (days.StartsWith("W"))
                    {
                        if (days.Length == 1)
                        {
                            days = "";
                        }
                        else
                            days = days.Substring(2);
                        startDate = new DateTime(2023, 8, 16);
                    }
                    else if (days.StartsWith("T"))
                    {
                        if (days.Length == 1)
                        {
                            days = "";
                        }
                        else
                            days = days.Substring(2);
                        startDate = new DateTime(2023, 8, 15);
                    }
                    else if (days.StartsWith("F"))
                    {
                        if (days.Length == 1)
                        {
                            days = "";
                        }
                        else
                            days = days.Substring(2);
                        startDate = new DateTime(2023, 8, 18);
                    }
                    while (startDate <= endDate)
                    {
                        <text>

                                                    {
                                                        title: '@course.StartTime.ToString("hh:mm tt") @course.DepartmentCode @course.CourseNumber',
                                                        start: '@startDate.ToString("yyyy-MM-dd")',
                                                        end: '@startDate.ToString("yyyy-MM-dd")',
                                                        backgroundColor: '@color',
                                                        textColor: '@textColor'
                                                    },
                        </text>
                        startDate = startDate.AddDays(7);
                    }
                    }
                    }
                    }
                    else
                    {
                    @foreach (var assignment in Model.AllAssignments)
                    {
                    var course = Model.RegisteredCourses.FirstOrDefault(course => course.ID == assignment.ClassID);
                    var color = course.color;
                    var textColor = "white";
                    var courseName = assignment.className;
                    var courseParts = courseName.Split(':');
                    courseName = courseParts[0];

                    @if (color.Contains(';'))
                    {
                    var parts = color.Split(';');
                    color = parts[0].Trim();

                    if (parts.Length > 1)
                    {
                    if (parts[1].Contains(":"))
                    {
                    var textPart = parts[1].Split(":");
                    textColor = textPart[1];
                    }
                    }
                    }

                    <text>
                                                {
                                                    title: '@courseName  @assignment.AssignmentName',
                                                    start: '@assignment.DueDate.ToString("yyyy-MM-dd")',
                                                    end: '@assignment.DueDate.ToString("yyyy-MM-dd")',
                                                    backgroundColor: '@color',
                                                    textColor: '@textColor',
                                                    url: '@Url.Action("SubmitAssignment", "Class", new { assignmentID = assignment.Id, classID = assignment.ClassID })'
                            },
                                
                </text>
            }

            @foreach (var course in Model.RegisteredCourses)
            {

                var color = course.color;
                var textColor = "white";


                @if (color.Contains(';'))
                {
                    var parts = color.Split(';');
                    color = parts[0].Trim();

                    if (parts.Length > 1)
                    {
                        if (parts[1].Contains(":"))
                        {
                            var textPart = parts[1].Split(":");
                            textColor = textPart[1];
                        }
                    }
                }


                var startDate = new DateTime(2023, 8, 15);
                var endDate = new DateTime(2023, 12, 15);
                string days = @course.Days;
                while (days.Length != 0)
                {
                    if (days.StartsWith("M"))
                    {
                        if (days.Length == 1)
                        {
                            days = "";
                        }
                        else
                            days = days.Substring(2);
                        startDate = new DateTime(2023, 8, 21);

                    }
                    else if (days.StartsWith("Th"))
                    {
                        if (days.Length == 2)
                        {
                            days = "";
                        }
                        else
                            days = days.Substring(3);
                        startDate = new DateTime(2023, 8, 17);
                    }
                    else if (days.StartsWith("W"))
                    {
                        if (days.Length == 1)
                        {
                            days = "";
                        }
                        else
                            days = days.Substring(2);
                        startDate = new DateTime(2023, 8, 16);
                    }
                    else if (days.StartsWith("T "))
                    {
                        if (days.Length == 1)
                        {
                            days = "";
                        }
                        else
                            days = days.Substring(2);
                        startDate = new DateTime(2023, 8, 15);
                    }
                    else if (days.StartsWith("F"))
                    {
                        if (days.Length == 1)
                        {
                            days = "";
                        }
                        else
                            days = days.Substring(2);
                        startDate = new DateTime(2023, 8, 18);
                    }
                    while (startDate <= endDate)
                    {
                        <text>

                                                {
                                                    title: '@course.StartTime.ToString("hh:mm tt") @course.DepartmentCode @course.CourseNumber',
                                                    start: '@startDate.ToString("yyyy-MM-dd")',
                                                    end: '@startDate.ToString("yyyy-MM-dd")',
                                                    backgroundColor: '@color',
                                                    textColor: '@textColor'
                                                },
                        </text>
                        startDate = startDate.AddDays(7);
                    }
                }
            }
        }
                        ]
            });
            calendar.render();
        });
    </script>
</head>
<body>
    <div id='calendar'></div>
</body>
</html>