@model Pink_Panthers_Project.Models.ViewModel

@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

<h1>Hello, @Html.DisplayFor(Model => Model.Account!.FirstName) @Html.DisplayFor(Model => Model.Account!.LastName)</h1>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-8">
                <div class="row">
                    @if (Model != null && Model.Account!.isTeacher)
                    {

                        <!-- Display courses for teachers -->

                        @foreach (var course in Model.TeachingCourses)
                        {

                            <div class="col-md-1" style="margin-right: 240px; margin-bottom: 15px">
                                <a class="no-decoration" asp-controller="Class" asp-action="Assignments" asp-route-id="@course.ID">
                                    <div class="card custom-card">
                                        <div class="card-header" id="@course.CourseNumber" style ="background-color: @course.color;">@course.DepartmentCode @course.CourseNumber</div>
                                        <div class="card-body">
                                            @course.CourseName<br />
                                            @course.Room<br />
                                            @course.StartTime.ToString("hh:mm tt") - @course.EndTime.ToString("hh:mm tt")<br />
                                            @course.Days
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                    else if (Model != null && !Model.Account!.isTeacher)
                    {
                        <!-- Display courses for students -->
                        @foreach (var course in Model.RegisteredCourses)
                        {
                            <div class="col-md-1" style="margin-right: 240px; margin-bottom: 15px">
                                <a class="no-decoration" asp-controller="Class" asp-action="Assignments" asp-route-id="@course.ID">
                                    <div class="card custom-card">
                                        <div class="card-header" style="background-color: @course.color;">@course.DepartmentCode @course.CourseNumber</div>
                                        <div class="card-body">
                                            @course.CourseName<br />
                                            @course.tName<br />
                                            @course.Room<br />
                                            @course.StartTime.ToString("hh:mm tt") - @course.EndTime.ToString("hh:mm tt")<br />
                                            @course.Days
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
            @if (Model != null && !Model.Account!.isTeacher)
            {
                <div class="col-md-4">
                    <div class="to-do-list">
                        <div class="to-do-header">To-Do List</div>
                        @foreach (var assignment in Model.Assignments!)
                        {
                            if (!Model.StudentSubmissions!.Exists(c => c.AssignmentID == assignment.Id))
                            {
                                <a class="no-decoration" asp-controller="Class" asp-action="ToDoListClick" asp-route-assignmentID="@assignment.Id">
                                    <div class="clickable to-do-card">
                                        <div class="">
                                            <b>@assignment.className</b><br />
                                            Assignment: @assignment.AssignmentName<br />
                                            Due: @assignment.DueDate
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>
            }

        </div>
    </div>
</body>
</html>
