@model Pink_Panthers_Project.Models.ViewModel

@{
    ViewData["Title"] = "Register for Class";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<h1>Class List</h1>

<div style="display: flex; justify-content: space-between; max-width: 400px;">
    <select id="departmentCodeFilter" class="custom-select">
        <option value="">Department</option>
        <option value="ACTG">ACTG</option>
        <option value="AERO">AERO</option>
        <option value="ANTH">ANTH</option>
        <option value="ARCH">ARCH</option>
        <option value="ART">ART</option>
        <option value="ARTH">ARTH</option>
        <option value="ASL">ASL</option>
        <option value="ASTR">ASTR</option>
        <option value="ATHL">ATHL</option>
        <option value="ATTC">ATTC</option>
        <option value="AUSV">AUSV</option>
        <option value="BIS">BIS</option>
        <option value="BME">BME</option>
        <option value="BSAD">BSAD</option>
        <option value="BTNY">BTNY</option>
        <option value="CHEM">CHEM</option>
        <option value="CHF">CHF</option>
        <option value="CHNS">CHNS</option>
        <option value="CJ">CJ</option>
        <option value="CM">CM</option>
        <option value="COMM">COMM</option>
        <option value="CS">CS</option>
        <option value="DANC">DANC</option>
        <option value="DENT">DENT</option>
        <option value="DMS">DMS</option>
        <option value="ECE">ECE</option>
        <option value="ECED">ECED</option>
        <option value="ECON">ECON</option>
        <option value="EDUC">EDUC</option>
        <option value="EEN">EEN</option>
        <option value="EET">EET</option>
        <option value="ENGL">ENGL</option>
        <option value="ENGR">ENGR</option>
        <option value="ENTR">ENTR</option>
        <option value="ENVS">ENVS</option>
        <option value="ESS">ESS</option>
        <option value="ETC">ETC</option>
        <option value="ETM">ETM</option>
        <option value="FAM">FAM</option>
        <option value="FILM">FILM</option>
        <option value="FIN">FIN</option>
        <option value="FL">FL</option>
        <option value="FRCH">FRCH</option>
        <option value="FYE">FYE</option>
        <option value="GEO">GEO</option>
        <option value="GEOG">GEOG</option>
        <option value="GERT">GERT</option>
        <option value="GRMN">GRMN</option>
        <option value="GSE">GSE</option>
        <option value="HAS">HAS</option>
        <option value="HIM">HIM</option>
        <option value="HIST">HIST</option>
        <option value="HLTH">HLTH</option>
        <option value="HNRS">HNRS</option>
        <option value="HTHS">HTHS</option>
        <option value="HUMA">HUMA</option>
        <option value="IDT">IDT</option>
        <option value="ITLN">ITLN</option>
        <option value="JPNS">JPNS</option>
        <option value="KOR">KOR</option>
        <option value="LIBS">LIBS</option>
        <option value="LING">LING</option>
        <option value="MACC">MACC</option>
        <option value="MATH">MATH</option>
        <option value="MBA">MBA</option>
        <option value="MCJ">MCJ</option>
        <option value="ME">ME</option>
        <option value="MENG">MENG</option>
        <option value="MET">MET</option>
        <option value="MFET">MFET</option>
        <option value="MGMT">MGMT</option>
        <option value="MHA">MHA</option>
        <option value="MICR">MICR</option>
        <option value="MILS">MILS</option>
        <option value="MIS">MIS</option>
        <option value="MKTG">MKTG</option>
        <option value="MLS">MLS</option>
        <option value="MPAS">MPAS</option>
        <option value="MPC">MPC</option>
        <option value="MSAT">MSAT</option>
        <option value="MSE">MSE</option>
        <option value="MSRS">MSRS</option>
        <option value="MSRT">MSRT</option>
        <option value="MSW">MSW</option>
        <option value="MTAX">MTAX</option>
        <option value="MTHE">MTHE</option>
        <option value="MUSC">MUSC</option>
        <option value="NAVS">NAVS</option>
        <option value="NET">NET</option>
        <option value="NEUR">NEUR</option>
        <option value="NRSG">NRSG</option>
        <option value="NUCM">NUCM</option>
        <option value="NUTR">NUTR</option>
        <option value="OCRE">OCRE</option>
        <option value="OEHS">OEHS</option>
        <option value="PAR">PAR</option>
        <option value="PDD">PDD</option>
        <option value="PE">PE</option>
        <option value="PEP">PEP</option>
        <option value="PHIL">PHIL</option>
        <option value="PHYS">PHYS</option>
        <option value="POLS">POLS</option>
        <option value="PS">PS</option>
        <option value="PSY">PSY</option>
        <option value="PTGS">PTGS</option>
        <option value="PUBH">PUBH</option>
        <option value="QS">QS</option>
        <option value="QUAN">QUAN</option>
        <option value="RADT">RADT</option>
        <option value="RATH">RATH</option>
        <option value="REC">REC</option>
        <option value="REST">REST</option>
        <option value="RGAF">RGAF</option>
        <option value="RHS">RHS</option>
        <option value="SBS">SBS</option>
        <option value="SCM">SCM</option>
        <option value="SE">SE</option>
        <option value="SOC">SOC</option>
        <option value="SPAN">SPAN</option>
        <option value="SW">SW</option>
        <option value="THEA">THEA</option>
        <option value="UNIV">UNIV</option>
        <option value="WEB">WEB</option>
        <option value="WGS">WGS</option>
        <option value="WSU">WSU</option>
        <option value="ZOOL">ZOOL</option>
    </select>
    <input class="keyword" type="text" id="classFilterKeyword" placeholder="Keyword" />
    <button id="filterButton" onclick="filterClasses()" class="btn btn-primary" style="height:36px; margin-left: 10px;">
        <i class="fas fa-filter"></i></button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Instructor</th>
            <th>Room</th>
            <th>Department Code</th>
            <th>Course Number</th>
            <th>Course Name</th>
            <th>Days</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Credit Hours</th>
        </tr>
    </thead>
    <tbody>
        @{
            @foreach (var item in Model.Classes!)
            {
                <tr>
                    <td>@item.tName</td>
                    <td>@item.Room</td>
                    <td>@item.DepartmentCode</td>
                    <td>@item.CourseNumber</td>
                    <td>@item.CourseName</td>
                    <td>@item.Days</td>
                    <td>@item.StartTime.ToString("hh:mm tt")</td>
                    <td>@item.EndTime.ToString("hh:mm tt")</td>
                    <td>@item.hours</td>
                    <td>
                        @if (IsStudentRegistered(item.ID))
                        {
                            <form method="post" action="@Url.Action("Register", "Profile")">
                                <input type="hidden" name="classId" value="@item.ID" />
                                <button type="submit" class="btn btn-danger" id="@Html.Raw(item.ID + "dropBtn")">Drop</button>
                            </form>
                        }
                        else
                        {
                            <form method="post" action="@Url.Action("Register", "Profile")">
                                <input type="hidden" name="classId" value="@item.ID" />
                                <button type="submit" class="btn btn-primary" id="@Html.Raw(item.ID + "registerBtn")">Register</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@functions{
    bool IsStudentRegistered(int classID)
    {
        var studentAccountID = ViewBag.account;
        var isRegistered = Model.RegisteredClasses!.Any(rc => rc.classID == classID && rc.accountID == studentAccountID);

        return isRegistered;
    }
}

<script>function filterClasses() {
        var keyword = document.getElementById("classFilterKeyword").value.toUpperCase();
        var departmentCode = document.getElementById("departmentCodeFilter").value.toUpperCase();

        var table = document.querySelector(".table");
        var tr = table.getElementsByTagName("tr");

        for (var i = 1; i < tr.length; i++) {
            var courseName = tr[i].getElementsByTagName("td")[4].textContent || tr[i].getElementsByTagName("td")[4].innerText;
            var courseNumber = tr[i].getElementsByTagName("td")[3].textContent || tr[i].getElementsByTagName("td")[3].innerText;
            var courseDepartmentCode = tr[i].getElementsByTagName("td")[2].textContent || tr[i].getElementsByTagName("td")[2].innerText;

            var showRow = true;

            if (keyword && !courseName.toUpperCase().includes(keyword)) {
                showRow = false;
            }

            if (keyword && courseNumber.toUpperCase().includes(keyword)) {
                showRow = true;
            }

            if (departmentCode && departmentCode !== courseDepartmentCode) {
                showRow = false;
            }

            tr[i].style.display = showRow ? "" : "none";
        }
    }</script>